header, body {
    background-color: #212A3E;
    padding: 15px 15px ;
}

.welcomeText {
    background-color: #394867;
    border-radius: 5px ;
    font-family: 'Caveat';
    color: #9BA4B5;
    font-size: 75px;
    display: flex;
    justify-content: center;

}
    .welcomeText:hover {
        background: linear-gradient(0deg, #697a9e, #394867);
        color: #212A3E;
    }

.navigations {
    font-family: 'Caveat';
    color: #9BA4B5;
    font-size: 25px;
    display: flex;
    justify-content: center;
    :visited {
        color: rgb(138, 15, 50);
    }
}

.photoTime img {
    height: 530px;
    width: 500px;
    border-radius: 20px;
    float: right;
    margin-top: 15px;
    margin-right: 100px;
}

.aboutMe {
    background-color: #9BA4B5;
    padding: 20px 20px;
    border-radius: 15px;
    border-bottom-style: groove;
    border-color: #6683bd;
    width: 40%;
    margin-left: 20px;
}

.greeting {
    font-family: 'Caveat';
    color: #394867;
    font-size: 32px;
    display: flex;
    justify-content: left;
    border-bottom-style: groove;
    border-width: 5px;
    border-color: #6683bd;
}

.briefIntro {
    margin-top: 5px;
    font-family: 'Caveat';
    color: #394867;
    font-size: 20px;
    display: flex;
    justify-content: left;
}

.briefIntro2 {
    margin-top: 20px;
    font-family: 'Caveat';
    color: #212A3E;
    font-size: 20px;
    display: flex;
    justify-content: left;
}

.tmiFactory {
    font-family: 'Caveat';
    color: #212A3E;
    font-size: 20px;
}

ul img {
    height: 20px;
    width: 30px;
}

.greetingBye {
    font-family: 'Caveat';
    color: #394867;
    font-size: 32px;
    display: flex;
    justify-content: left;
    border-top-style: groove;
    border-color: #6683bd;
}

.socialMedia {
    object-fit: fill;
    margin-left: 10%;
    margin-top: 15px;
    padding-left: 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.instagramLogo {
    width: 70px;
    height : 50px;
}

.linkedLogo {
    margin-left: 5px;
    margin-right: 3px;
    width: 80px;
    height : 50px;
}

.discordLogo {
    width: 70px;
    height : 55px;
}

.youtubeLogo {
    margin-left: 15px;
    width: 70px;
    height : 47px;
}

button.requestButton {
    margin-top: 5px;
    border-radius: 15px;
    background-color: #9BA4B5;
    color: #394867;
    font-family: 'Caveat';
    font-size: medium;
    margin-left: 17.5%;
}

    button:hover {
        background-color: #6683bd;
    }

.closingText {
    background-color: #394867;
    border-radius: 5px ;
    border-top-style: groove;
    border-color: #6683bd;
    font-family: 'Caveat';
    color: #9BA4B5;
    font-size: 70px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}