header, body {
    background-color: #212A3E;
    padding: 15px 15px ;
}

.welcomeText {
    background-color: #394867;
    border-radius: 5px ;
    font-family: 'Caveat';
    font-size: 75px;
    display: flex;
    justify-content: center;
    color: #9BA4B5;
}